<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="EmployeeSkillsMatrixTestSuite" verbose="1" parallel="false">
    
    <!-- Define the test -->
    <test name="EmployeeSkillsMatrixTests">
        <classes>
            <!-- Include your test class -->
            <class name="com.example.demo.EmployeeSkillsMatrixTestNGTests"/>
        </classes>
    </test>

</suite>
