<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Employee Skills Matrix Suite">

    <listeners>
        <listener class-name="com.example.demo.TestResultListener"/>
    </listeners>

    <test name="All TestNG Tests">
        <classes>
            <class name="com.example.demo.EmployeeSkillsMatrixTestNGTests"/>
        </classes>
    </test>

</suite>
